.sideBar {
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  color: white;
  background-color: black;
  position: fixed;
}

body {
  background-color: gray !important;
}

.chatroom {
  color: black;
  padding-left: 10px;
  margin-bottom: 50px;
  width: 80%;
  margin-left: 20%;

}

.chatroom .username {
  font-weight: bold;
}

p.time {
  font-size: 75%;
}

.createMessage {
  bottom: 0;
  right: 0;
  width: 80%;
  position: fixed;
  padding: 10px;
}
